{:paths ["src"]

 :deps
 {org.clojure/clojure {:mvn/version "1.10.0"}
  org.clojure/core.async {:mvn/version "1.1.587"}

  cheshire/cheshire {:mvn/version "5.8.1"}
  io.replikativ/konserve {:mvn/version "0.7.301"}
  borkdude/sci {:mvn/version "0.0.13-alpha.14"}
  aero/aero {:mvn/version "1.1.6"}
  nano-id/nano-id {:mvn/version "0.10.0"}

  failjure/failjure {:mvn/version "2.2.0"}
  middlesphere/clj-compress {:mvn/version "0.1.0"}
  org.clojars.lispyclouds/contajners {:mvn/version "1.0.2"}
  com.fzakaria/slf4j-timbre {:mvn/version  "0.3.19"}}

 :aliases {:dev {:extra-deps {integrant/repl {:mvn/version "0.3.1"}
                              io.github.cognitect-labs/test-runner
                              {:git/tag "v0.5.0" :git/sha "b3fd0d2"}}
                 :extra-paths ["dev/src" "test"]}
           :test {:extra-paths ["test"]
                  :extra-deps {io.github.cognitect-labs/test-runner
                               {:git/tag "v0.5.0" :git/sha "b3fd0d2"}}
                  :main-opts ["-m" "cognitect.test-runner"]
                  :exec-fn cognitect.test-runner.api/test}}}
